
.site-footer{
margin-top: 55px;
}

.site-footer_flex {
    padding-left: 20px;
}


#form {
    // display: flex;
    // flex-direction: column;
    width: 402px;
    max-width: 100%;

}

.site-footer_flex {
    display: flex;
    justify-content: space-between;
}

.site-footer_flex__form {
    &>h3 {
        width: 500px;
        max-width: 100%;
        font-family: 'Russo One';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 43px;
        color: #F1F1F1;
    }
}

input,
textarea {
    width: 100%;
    padding: 18px 22px;
    margin-top: 24px;
    border-radius: 8px;
    border: none;
}

textarea {
    height: 112px;
    max-height: 100%;
}

.site-footer_flex__form--btn {
    padding: 10px 18px 10px 18px;
    background: #2194FF;
    border-radius: 50px;
    margin-top: 24px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #F1F1F1;
    border: none;
}

.site-footer_flex__img {
    position: relative;

    &__about {
        width: 209px;
        max-width: 100%;
        background: #2194FF;
        opacity: 0.8;
        border-radius: 20px;
        padding: 13px 21px 19px 26px;
        position: absolute;
        bottom: 70px;
        left: -40px;

        &>h4 {
            font-family: 'Russo One';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            color: #F1F1F1;

        }

        &>p {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            color: #F1F1F1;
        }
    }
}

.footer__firms {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-decoration: none;
    list-style: none;
    margin-top: 66px;

    &__logo {
        background: #F1F1F1;
        border-radius: 20px;
        padding: 0px 30px;
        display: flex;
        align-items: center;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 913px) {
    .site-footer_flex {
        flex-direction: column;
        align-items: center;
    }

    #form {
        width: 100%;
        flex-direction: column;
        display: flex;

    }

    .site-footer_flex__form>h3 {
        text-align: center;
    }
}

@media only screen and (max-width: 500px) {
    .site-footer_flex__img__about {
        bottom: -33px;
        left: 90px;
    }

    .site-footer_flex__form>h3 {
        font-size: 30px;
        width: 95%;
    }
}


.footer__bottom__title {
    width: 70%;
    margin: 0 auto;
    margin-top: 34px;

    &>h3 {
        font-family: 'Russo One';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 43px;
        text-align: center;
        color: #2194FF;
    }
}

.footer__bottom__btn {
    width: 295px;
    max-width: 100%;
    padding: 29px 5px;
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F1F1F1;
    text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.25);
     margin: 0 auto;
    display: flex;
    justify-content: center;
    background: #2194FF;
    box-shadow: inset 0px 4px 12px rgba(0, 0, 0, 0.45);
    border-radius: 11px;
    margin-top: 15px;
}
.popup{
background: rgba(0, 0, 0, 0.6);
width: 100%;
height: 100%;
position: absolute;
top: 0;
display: none;
justify-content: center;
align-items: center;

&-content{
width: 452px;
max-width: 100%;
background: #ffff;
padding: 20px;
border-radius: 5px;
position: relative;

&__title{
display: flex;
justify-content: space-between;
&>h4{
    width: 200px;
    max-width: 100%;
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #2194FF;
}
}
}
}
.popup-btn{
    width: 295px;
    max-width: 100%;
    padding: 29px 5px;
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F1F1F1;
    text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.25);
     margin: 0 auto;
    display: flex;
    justify-content: center;
    background: #2194FF;
    box-shadow: inset 0px 4px 12px rgba(0, 0, 0, 0.45);
    border-radius: 11px;
    margin-top: 40px;
}

.footer__maps__flex{
display: flex;
background: #F1F1F1;
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
border-radius: 33px;
overflow: hidden;
margin-top: 40px;
&__about{
padding-left:40px ;
padding-top: 40px;
// padding-bottom: 80px;
    &>h2{
        
        font-family: 'Russo One';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 43px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        
        color: #2194FF;
        
        
    }
    &>p{
       
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #1B2639;
        border-bottom: 1px solid rgba(27, 38, 57, 0.2);
        padding-bottom: 21px;
        margin-top: 16px;
    }
    &>h4{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        text-transform: uppercase;
        color: #2194FF;
        margin-top: 31px;
    }
}
}
.ofis{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #1B2639;
}
.tel{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #1B2639;
    
}


@media only screen and (max-width: 879px) {
    .footer__maps__flex {
        flex-direction: column;
        margin: 40px 20px;
    }
    .footer__maps__flex__locatoin {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width:490px ) {
    .footer__bottom__title > h3 {
        font-size: 22px;
    }
    .footer__maps__flex__about > h2 {
        font-size: 28px;
    }
}